@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import './mixin.scss';

*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h5,h6{
  font-weight: normal;
  text-align: center;
}
body{
  background-color: $white;
}
h3{
  font-size: $font3;
}
p, a, strong{
  font-size: $font5;
}
strong{
  font-weight: bold;
}
.white-back-shadow{
  background-color: $white;
  box-shadow: $shadow;
}
.flex-item{
  @include flex-row();
}
.blue-title{
  @include titleStyle($gradient, 0, auto, 30px );
}
.blue-title-left{
  @include titleStyle($gradient, 0, left, 0px );
}
.green-title-left{
  @include titleStyle($gradient-2, 0, left, 0px );
  font-size: $font3;
}
.white-title-left{
  @include titleStyle($white, 0, left, 0px );
  color: $white;
}
.white-title{
  @include titleStyle($white, 0, auto, 30px );
  color: $white;
}
.displayNone{
  display: none !important;
}
.whiteButton{
  @include ButtonStyles($blue, $white);
}
.blueButton{
  @include ButtonStyles($white, $blue);
}
.buttonLeft{
  margin: unset !important;
}
.bgGradient{
  background: $gradient;
}
.padding30{
  padding: 30px 0px;
}
.widthBreak{
  max-width: 1300px;
  margin: auto;
}
.breakWidth{
  max-width: 1000px;
  margin: auto;
}
.breakWidth2{
  max-width: 700px;
  padding: 60px 12% !important;
  margin: auto;
}
.fixWidth{
  width: fit-content;
}
.left{
  text-align: left;
}
.firstmargin30{
  display: block;
  margin: 0px auto 30px;
}
.margin30{
  display: block;
  margin: 30px auto;
}
.margin60{
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
}
.lastItem{
  display: block;
  margin-bottom: 60px;
}
.bottom30{
  display: block;
  margin-bottom: 30px;
}
.bottom60{
  display: block;
  margin-bottom: 60px;
}
.firstTitle{
  display: block;
  margin-bottom: 60px;
}