/********* Colores *********/

$white: #F9FDFC;
$black: #1f140f;
$blue: #349eff;
$turquiose: #51cbdc;
$green: #51dcaa;
$red: #ff0962;
$gradient: linear-gradient(90deg, $turquiose 0%, $blue 100%);
$gradient-2: linear-gradient(90deg, $green 18.17%, #afdc51 96.91%);


/************Tamaño Fuente************/

$font1: 2.25rem;
$font2: 2rem;
$font3: 1.7rem;
$font4: 1.5rem;
$font5: 1.125rem;
$font6: 1rem;
$font7: 0.875rem;
$font8: 0.6rem;

$shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
